body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    width: 100%;
    height: 100vh;
}




.table-title {
    /* padding: 15px; */
    padding: 10px 20px;
    background: linear-gradient(40deg, #2096ff, #edab1a) !important;
    /* color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247); */
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 20px;
    font-weight: bold;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    background-color: white;
    transition: 0.5s ;
    border-radius: 10px;
}





/* -------------------------------------------------------------------------- */
.footer {
    background: linear-gradient(40deg, #2096ff, #edab1a) !important;
    color: black;
    width: 100%;
    height: 21%;

    
    /* margin-top: 100%; */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0 20px;
    
}

.footer-section {
    flex: 1;
    padding: 10px 20px;
}

.footer-section h2 {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f39c12;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: black;
}



/* ----------------------------------------- */