



.responsive-navbar {
    width: 100%;
    background-color: #2096ff;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.project-name {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }
}


/* -------------------------------------------------------------------------- */
.footer {
    background-color: #2096ff; /* Consistent theme blue color */
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    margin: 5px 0;
    font-size: 16px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #edab1a; /* Highlight color on hover */
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}



/* ----------------------------------------- */