*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

main{
    display: flex;
    
}

.add-Q-P{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.addparticipant {
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;

    margin: 50px 20px ;
    box-shadow: 0 4px 4px 2px  #FFC929;
    display: flex;
    height: fit-content;
}

.addparticipant h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color:#2D9BF0;
}

.addparticipant form {
    display: flex;
    flex-direction: column;
   
}

.addparticipant label {
    margin-bottom: 8px;
    font-weight: bold;
    color:#2D9BF0;
}

.addparticipant input[type="text"],
.addparticipant input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
   
}


.addparticipant button {
    padding: 10px 15px;
    background-color: #2D9BF0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    align-self: center;
    transition: .5s;
}

.addparticipant button:hover {
    background-color: #FFC929;
}


/* SideBar  */
.img-box{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    flex-shrink: 0;
}

.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}


.menu{
    background-color: #FFC929;
    width: 60px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
    width: 260px;
}
/* .menu:hover{
    width: 260px;
} */

ul{
    list-style: none;
    position: relative;
    height: 95%;
}
ul li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .5s;
    

}

ul li a:hover,.active ,.data-info .box:hover,td:hover{
    background-color: #ffffff55;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: red;
}

ul li a i{
    font-size: 30px;
}



.addQ
{
    background-color:white;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    margin: 50px 20px ;
    box-shadow:0 1px 7px 0px  #FFC929;
}
.addQ h1 {
    text-align: center;
    margin: 10px 0px;
    color: #2D9BF0;
}

form {
    display: flex;
    flex-direction: column;
    
}

form input[name="Question"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form .multichoice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

form .multichoice input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form input[type="radio"] {
    margin-right: 10px;
}
.levelChoice
{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.levelChoice label {
    margin-right: 20px;
    color: #2D9BF0; 
}


form button[type="submit"] {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #2D9BF0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    align-self: center;
    margin-top: 20px;
}
.addQ button:hover {
    background-color: #FFC929;
}
