*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}



.add-Q-P{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.addparticipant{
    height: 35%;
    width: 40%;
    margin: 50px 20px ;
    box-shadow:0 1px 7px 0px  #FFC929;
    border-radius: 20px;

}
.addparticipant div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.addparticipant h1{
    text-align: center;
}
.addparticipant h1,.addparticipant form label{
    color: #2D9BF0;
}

.addparticipant form{
    margin: 20px;
}

.addparticipant form label{
    margin: 7px 0;
}

.addparticipant form input{
    margin: 10px 0;
    height: 30px;
    border-radius: 4px;
    width: 100%;
    padding: 5px;
    color: black;
}






.addQ
{
    background-color:white;
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    height: 31%;
    margin: 50px 20px ;
    box-shadow:0 1px 7px 0px  #FFC929;
}
.addQ h1 {
    text-align: center;
    margin: 10px 0px;
    color: #2D9BF0;
}

form {
    display: flex;
    flex-direction: column;
    
}

form input[name="Question"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
}

form .multichoice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

form .multichoice input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
}

form input[type="radio"] {
    margin-right: 10px;
}


.levelChoice
{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.levelChoice label {
    margin-right: 20px;
    color: #2D9BF0; 
}


form button[type="submit"] {
    width: 20%;
    background-color: #2D9BF0;
    border: none;
    padding: 2%;
    border-radius: 4px;
    text-align: center;
    align-self: center;
    margin-top: 4%;
    cursor: pointer;

}
form button[type="submit"]:hover {
    background-color: #FFC929;
}


